HTTP_PORT=80

SPRING_PROFILES_ACTIVE=local
SERVER_PORT=8080

POSTGRES_DB=cloud_comment
POSTGRES_USER=cloud_comment
POSTGRES_PASSWORD=cloud_comment

SPRING_DATASOURCE_URL=jdbc:postgresql://localhost:5432/cloud_comment
SPRING_DATASOURCE_USERNAME=cloud_comment
SPRING_DATASOURCE_PASSWORD=cloud_comment

VITE_CLOUD_COMMENT_API_BASE_URL=http://localhost/api
