.gradle/
build/
frontend/admin/storybook-static/
frontend/admin/playwright-report/
frontend/admin/test-results/
widget-frontend/dist/
widget-frontend/node_modules/

.env

*.class
*.log

.idea/
*.iml
.vscode/

.DS_Store
Thumbs.db
