:80 {
	encode gzip

	handle /api/* {
		reverse_proxy backend:8080
	}

	handle_path /widget/* {
		root * /srv/widget
		file_server
	}

	handle {
		root * /srv/admin
		try_files {path} /index.html
		file_server
	}
}
