{
	servers {
		trusted_proxies static {$CLOUD_COMMENT_CADDY_TRUSTED_PROXIES}
		trusted_proxies_strict
		client_ip_headers X-Forwarded-For X-Real-IP
	}
}

{$CLOUD_COMMENT_SITE_ADDRESS:http://team13.st.ifbest.org} {
	encode gzip

	handle /api/* {
		reverse_proxy 127.0.0.1:8080 {
			header_up X-Forwarded-For {client_ip}
		}
	}

	handle_path /widget/* {
		header Cache-Control "no-cache"
		root * {$CLOUD_COMMENT_WIDGET_ROOT:/home/team13/cloud-comment/current/www/widget}
		file_server
	}

	handle {
		root * {$CLOUD_COMMENT_ADMIN_ROOT:/home/team13/cloud-comment/current/www/admin}
		try_files {path} /index.html
		file_server
	}
}

{$CLOUD_COMMENT_WIDGET_SITE_ADDRESS:http://widget.team13.st.ifbest.org} {
	encode gzip

	header {
		Referrer-Policy "no-referrer"
		X-Content-Type-Options "nosniff"
	}

	handle /api/health {
		reverse_proxy 127.0.0.1:8080 {
			header_up X-Forwarded-For {client_ip}
		}
	}

	handle /api/public/sites/* {
		reverse_proxy 127.0.0.1:8080 {
			header_up X-Forwarded-For {client_ip}
		}
	}

	handle_path /widget/* {
		header Cache-Control "no-cache"
		root * {$CLOUD_COMMENT_WIDGET_ROOT:/home/team13/cloud-comment/current/www/widget}
		file_server
	}

	handle /legal/* {
		root * {$CLOUD_COMMENT_ADMIN_ROOT:/home/team13/cloud-comment/current/www/admin}
		file_server
	}

	handle {
		respond "Not found" 404
	}
}

:80 {
	redir {$CLOUD_COMMENT_PUBLIC_BASE_URL:http://team13.st.ifbest.org}{uri}
}
